body {
    background-color: black;
    color: white;
    font-size: 20px;
}

h1,
h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
}


.scoreSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameZone {
    background-color: rgba(6, 49, 84, 0.5);
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    width: 40%;
    border-radius: 10px;
    position: relative;
}

.firstRowFormat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;


}

.one {
    display: flex;
    align-items: center;
    background-color: green;
    margin: 10px;
    width: 40%;
    height: 170px;
    border-radius: 10px;
    justify-content: center;
}

.two {
    display: flex;
    align-items: center;

    margin: 10px;
    width: 40%;
    height: 170px;
    border-radius: 10px;
    background-color: red;
    justify-content: center;
}

.secondRowFormat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;

    justify-content: center;

}

.three {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 40%;
    height: 170px;
    border-radius: 10px;
    background-color: rgb(26, 177, 227);
}

.four {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 40%;
    height: 170px;
    border-radius: 10px;
    background-color: yellow;
}

.circle {
    border-radius: 50%;
    background-color: black;
    color: white;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 150px;
    height: 150px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.circle:hover {
    transform: scale(1,1);
    border-radius: white;
    border :3px solid white
}