body {}
h1{
    display: flex;
    justify-content: center;
}

.firstRowFormat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.one {
    display: flex;
    align-items: center;
    background-color: green;
    margin: 10px;
    width: 15%;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
}

.two {
    display: flex;
    align-items: center;

    margin: 10px;
    width: 15%;
    height: 150px;
    border-radius: 10px;
    background-color: red;
    justify-content: center;
}

.secondRowFormat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
    justify-content: center;
}

.three {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 15%;
    height: 150px;
    border-radius: 10px;
    background-color: purple;
}

.four {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 15%;
    height: 150px;
    border-radius: 10px;
    background-color: yellow;
}