body {
    background-color: lightgray;
    font-size: 20px;
}

h1,
h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
}


.scoreSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameZone {
    background-color: rgba(6, 49, 84, 0.5);
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    width: 40%;
    border-radius: 10px;
}

.firstRowFormat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;

}

.one {
    display: flex;
    align-items: center;
    background-color: green;
    margin: 10px;
    width: 40%;
    height: 180px;
    border-radius: 10px;
    justify-content: center;
}

.two {
    display: flex;
    align-items: center;

    margin: 10px;
    width: 40%;
    height: 180px;
    border-radius: 10px;
    background-color: red;
    justify-content: center;
}

.secondRowFormat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
    justify-content: center;

}

.three {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 40%;
    height: 180px;
    border-radius: 10px;
    background-color: lightblue;
}

.four {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 40%;
    height: 180px;
    border-radius: 10px;
    background-color: yellow;
}

/* .circle {
    border-radius: 50%;
    background-color: burlywood;
} */